<!DOCTYPE html>
<html lang="en">
<style>
  .texto-borda{
    text-shadow: 
               -1px -1px 0px rgb(0, 0, 0), 
               -1px 1px 0px rgb(0, 0, 0),                    
                1px -1px 0px rgb(0, 0, 0),                  
                1px 0px 0px rgb(0, 0, 0);
  }
</style>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ASYS - BUSCA AGRÍCOLA </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="../static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">ASYS</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#services">Buscas</a></li>
          <li><a class="nav-link scrollto" href="#team">Equipe</a></li>
          <li><a class="nav-link scrollto" href="#contact">Suporte</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1 class="texto-borda">Bem Vindo ao ASYS.</h1>
      <h2 class="texto-borda">Aqui você pode buscar pelas informações mais relevantes sobre culturas.</h2>
      <a href="#about" class="btn-get-started scrollto">Sobre</a>
    </div>
  </section>

  <main id="main">

    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="../static/assets/img/about.jpg" class="img-fluid" alt="" style="border-radius: 30px; margin-left: 30px;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Sobre o nosso sistema:</h3>
            <p class="fst-italic">
              Nosso sistema foi feito com o entuito de auxiliar todo tipo de produtor agrícola, seja ele com muita ou pouca terra, a ter as informações necessárias para
              traçar um planejamento estratégico para sua produção. 
              Buscamos beneficiar eles através de informações estatísticas sobre:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Plantio e colheita</li>
              <li><i class="bi bi-check-circle"></i> Produção</li>
              <li><i class="bi bi-check-circle"></i> Rendimento Médio</li>
            </ul>
            <p>
              Busque por categorias e obtenha informações oficiais sobre diferentes culturas!!!
            </p>
          </div>
        </div>

      </div>
    </section>

    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Faça Buscas</h4>
              <p>Faça as pesquisas na secção logo abaixo.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Obtenha Informação</h4>
              <p>Veja as informações uteis para a sua produção.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4> Faça o Planejamento</h4>
              <p>Use as informações obtidas para fazer o planejamento estratégico de sua produção.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Área de Buscas</span>
          <h2>Área de Buscas</h2>
          <p>Selecione uma das opções abaixo</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon" style="background-color: rgb(152, 151, 151); border-radius: 5px;"> <img src="../static/assets\img\plantas/soja.png" alt="" width="50px" height="50px"> </div>
              <h4><a href="/soja">Soja</a></h4>
              <p>Clique aqui para obter as informações referentes a soja.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon" style="background-color: rgb(152, 151, 151); border-radius: 5px;"> <img src="../static/assets\img\plantas/cana-de-acucar.png" alt="" width="50px" height="50px"> </div>
              <h4><a href="/cana">Cana-de-açúcar</a></h4>
              <p>Clique aqui para obter as informações referentes a cana-de-açúcar. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon" style="background-color: rgb(152, 151, 151); border-radius: 5px;"> <img src="../static/assets\img\plantas/grao-de-cafe.png" alt="" width="50px" height="50px"> </div>
              <h4><a href="/cafe">Café</a></h4>
              <p>Clique aqui para obter as informações referentes ao café.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon" style="background-color: rgb(152, 151, 151); border-radius: 5px;"> <img src="../static/assets\img\plantas/trigo.png" alt="" width="50px" height="50px"> </div>
              <h4><a href="/trigo">Trigo</a></h4>
              <p>Clique aqui para obter as informações referentes ao trigo.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon" style="background-color: rgb(152, 151, 151); border-radius: 5px;"> <img src="../static/assets\img\plantas/algodao.png" alt="" width="50px" height="50px"> </div>
              <h4><a href="/algodao">Algodão Herbáceo</a></h4>
              <p>Clique aqui para obter as informações referentes ao algodão herbáceo.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon" style="background-color: rgb(152, 151, 151); border-radius: 5px;"> <img src="../static/assets\img\plantas/milho.png" alt="" width="50px" height="50px"> </div>
              <h4><a href="/milho">Milho</a></h4>
              <p>Clique aqui para obter as informações referentes ao milho.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3 class="texto-borda">Curiosidade</h3>
          <p class="texto-borda"> Usando monitoramento por drones, que enviam imagens aéreas em tempo real para o controle da lavoura. Com a ajuda de sensores e softwares, é possível otimizar a taxa de aplicação dos produtos químicos e selecionar o melhor local de plantio</p>
          <a class="cta-btn texto-borda" href="#">Voltar para a Home</a>
        </div>

      </div>
    </section>

    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Grupo 5</span>
          <h2>Grupo 5</h2>
          <p>Veja os integrantes do nosso grupo abaixo</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/vinicius.png" alt="">
              <h4>Vinícius Mendonça</h4>
              <span>Integrante do Grupo</span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/rafa.jpg" alt="">
              <h4>Rafael Camargo</h4>
              <span>Integrante do Grupo</span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/leticia.jpg" alt="">
              <h4>Letícia Lima</h4>
              <span>Integrante do Grupo</span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/tonho.jpg" alt="">
              <h4>Jonas Godoi</h4>
              <span>Integrante do Grupo</span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/passi.jpg" alt="">
              <h4>Gabriel Passi</h4>
              <span>Integrante do Grupo</span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/fran.jpg" alt="">
              <h4>Franciele Piazentin</h4>
              <span>Integrante do Grupo</span>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Suporte</span>
          <h2>Suporte</h2>
          <p>É possível contactar nosso grupo pelos seguintes contatos:</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <h3>Endereço</h3>
              <p>R. Shunji Nishimura, 605 - Distrito Industrial, Pompéia - SP</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <h3>Email</h3>
              <p>vivicomferreira@hotmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <h3>Telefone</h3>
              <p>+55 (14)99810-2380</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6 " style="margin-left: 360px;">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d872.2393459072849!2d-50.19748469688269!3d-22.109903922344277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94959cda59959679%3A0x1f6747b0682bb0bd!2sFatec%20Pomp%C3%A9ia!5e0!3m2!1spt-BR!2sbr!4v1650770668731!5m2!1spt-BR!2sbr" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

         

        </div>

      </div>
    </section>

  </main>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>ASYS</h3>
              <p>
                R. Shunji Nishimura, 605 <br>
                - Distrito Industrial, Pompéia - SP<br><br>
                <strong>Telefone:</strong> +55 (14)99810-2380<br>
                <strong>Email:</strong> vivicomferreira@hotmail.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Utilizaveis</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Buscas</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Nossos Serviços</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">BigData</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Busca de Culturas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Informação</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Projeto Integrador</h4>
            <p>Grupo 5</p>
           

          </div>

        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <script src="../static/assets/js/main.js"></script>

</body>

</html>