<!DOCTYPE HTML>

<html>
	<head>
		<title>ASYS - Trigo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets-culturas/css/main.css"/>
		<link href="../static/assets/img/favicon.png" rel="icon">

	</head>
	<body class="is-preload">

			<div id="wrapper" style="margin-top:00px;">
					<div id="main">
							<section id="second" class="main special">
								<header style="background-color:rgba(204, 199, 199, 0.6); border-radius: 7px; margin-top: -45px; height: 190px;">
									<img src="../static/assets-culturas/icones/trigo.png" style="width:70px; height:70px; margin-top: 20px;" >
									<h2 style="font-size:30px; 	font-family:Open Sans, sans-serif; color:#607848;">Trigo</h2>
									<p style="	font-family:Open Sans, sans-serif ; color: #607848; margin-top: -15px;">Veja aqui as informações sobre o Trigo:</p>
								</header>
								<ul class="statistics texto-borda" style="margin-top: 25px;">
									<li class="style1">
										<span class="icon solid"><div style="background-color:rgba(204, 199, 199, 0.6) ; border-radius: 5px; height: 60px; width: 60px;"  >
											<img src="../static/assets-culturas/icones/money-bag.png" style="width:50px; height:50px; margin-top: 5px;" ></div></span>
										<strong style="font-size:21px ;">6.777.285 Mil Reais</strong> Valor da produção
									</li>
									<li class="style2">
										<span class="icon"><div style="background-color:rgba(204, 199, 199, 0.6) ; border-radius: 5px; height: 60px; width: 60px;"  >
											<img src="../static/assets-culturas/icones/quantidade.png" style="width:50px; height:50px; margin-top: 5px;" ></div></span>
										<strong style="font-size:21px ;">6.347.987 Toneladas</strong> Quantidade produzida
									</li>
									<li class="style3">
										<span class="icon solid"><div style="background-color:rgba(204, 199, 199, 0.9) ; border-radius: 5px; height: 60px; width: 60px;"  >
											<img src="../static/assets-culturas/icones/area.png" style="width:50px; height:50px; margin-top: 5px;" ></div></span>
										<strong style="font-size:21px ;">2.434.703 Hectares</strong> Área colhida
									</li>
									<li class="style4">
										<span class="icon solid"> <div style="background-color:rgba(204, 199, 199, 0.6) ; border-radius: 5px; height: 60px; width: 60px;"  >
											<img src="../static/assets-culturas/icones/rendimento.png" style="width:50px; height:50px; margin-top: 5px;" ></div></span>
										<strong style="font-size:21px ;"> 35.268 Kg p/Hectare</strong> Rendimento médio
									</li>
									<li class="style5">
										<span class="icon"><div style="background-color:rgba(204, 199, 199, 0.6) ; border-radius: 5px; height: 60px; width: 60px;"  >
											<img src="../static/assets-culturas/icones/top1.png" style="width:50px; height:50px; margin-top: 5px;" ></div></span>
										<strong style="font-size:21px; margin-top: 22px;"> Paraná</strong> Maior produtor
									</li>
								</ul>
								<p class="content"> {{ trigo }}</p>
									 <a href="/index" style="font-family:Open Sans, sans-serif ; color: #607848; margin-top: -15px;">Clique aqui para voltar</a>
							</section>
					</div>
			</div>
	</body>
</html>